body {
    font-family: "roboto", Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    background-color: #1f2937;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 8px 0px;
    flex-grow: 0;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}

ul {
    display: flex;
    margin: 0;
    list-style: none;
}

li {
    font-size: 18px;
    padding: 8px;
}

a {
    color:#e5e7eb;
    text-decoration: none;
}

.hero {
    color: #f9faf8;

}

.hero-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero h1 {
    font-size: 48px;
    font-weight: bolder;
}

.hero p {
    color:#e5e7eb;
    font-size: 18px;    
}

.hero button {
    background-color: #3882f6;
    border-style: none;
    padding: 4px 16px;
    border-radius: 4px;
    color: #f9faf8;
}

.hero-image {
    background-color: #6f7074;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 48px;
    flex: 0 1 1;
}

.hero-content {
    padding-right: 48px;
    flex: 0 1 1;
}

.content {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.card-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.content img {
    height: 100px;
    width: 100px;
    border-style: solid;
    border-color: #3882f6;
    border-radius: 10px;
}

.quote-section {
    margin: 0;
    background-color: #e5e7eb;
    font-size: 36px;
    font-style: italic;
    font-weight: light;
    color:#1f2937;
}

.action-section {
    background-color: #3882f6;
    color:#e5e7eb;
    border-radius: 10px;
    padding: 48px;
    display: flex;
    justify-content: space-between;
    gap: 16px;
    align-self: stretch;
}

.action-section button{
    background-color: transparent;
    border: 3px solid #f9faf8;
    border-radius: 2px;
    color: #f9faf8;
    padding: 0 16px;
    font-weight: 900;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 48px;
    font-size: 18px;
    color:#e5e7eb;
    flex-grow: 0;
}