body {
    font-family: "roboto", Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    background-color: #1f2937;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 8px 0px;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}

ul {
    display: flex;
    margin: 0;
    list-style: none;
}

li {
    font-size: 18px;
    padding: 8px;
}

a {
    color:#e5e7eb;
    text-decoration: none;
}

.hero {
    color: #f9faf8;

}

.hero-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero h1 {
    font-size: 48px;
    font-weight: bolder;
}

.hero p {
    color:#e5e7eb;
    font-size: 18px;    
}

.hero button {
    background-color: #3882f6;
    border-style: none;
    padding: 4px 16px;
    border-radius: 10%;
    color: #f9faf8;
}

.hero-image {
    background-color: #6f7074;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 48px;
    flex: 0 1 1;
}

.hero-content {
    padding-right: 48px;
    flex: 0 1 1;
}

.content {
}

.footer {
}