body {
    font-family: "roboto", Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    background-color: #1f2937;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 8px 0px;
    flex-grow: 0;
    margin: 0 10%;
}

.logo {
    font-size: 24px;
    font-weight: 700;
    color: #f9faf8;
}

ul {
    display: flex;
    margin: 0;
    list-style: none;
}

li {
    font-size: 18px;
    padding: 8px;
}

a {
    color:#e5e7eb;
    text-decoration: none;
}

.hero {
    color: #f9faf8;
    margin: 5% 10%;
    display: flex;
}

.hero-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero h1 {
    font-size: 48px;
    font-weight: bolder;
}

.hero-image {
    background-color: #6f7074;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    padding: 48px;
    flex-basis: 1 1 0;
}

.hero-content {
    padding-right: 48px;
    flex-basis: 1 1 0;
}

.hero p {
    color:#e5e7eb;
    font-size: 18px;    
}

.hero button {
    background-color: #3882f6;
    border-style: none;
    padding: 4px 16px;
    border-radius: 4px;
    color: #f9faf8;
}

.content {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 2% 10% 5% 10%;
}

.content img {
    height: 150px;
    width: 150px;
    border-style: solid;
    border-color: #3882f6;
    border-radius: 10px;
}

.content p {
    margin-top: 8px;
}

.quote-section {
    margin: 0;
    padding: 5% 0;
    background-color: #e5e7eb;
    font-size: 36px;
    font-style: italic;
    font-weight: 200;
    color:#1f2937;
}

.quote-section blockquote{
    margin: 0 10%;
}

.quote-section figcaption{
    margin: 0 10%;
    text-align: end;
    font-size: 24px;
    font-weight: 800;
}

.quote-section cite {
    font-style: normal;
}

.action-section {
    margin: 5% 10%;
    background-color: #3882f6;
    color:#e5e7eb;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    gap: 16px;
    padding: 32px;
    align-self: stretch;
}

.action-section button{
    background-color: transparent;
    border: 2px solid #f9faf8;
    border-radius: 4px;
    color: #f9faf8;
    padding: 4px 16px;
    margin: auto 0;
    font-weight: 900;
}

.action-section h2, .action-section p {
    margin: 0;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 48px;
    font-size: 18px;
    color:#e5e7eb;
    flex-grow: 0;
}